@tailwind base;
@tailwind components;
@tailwind utilities;

.quick-search-menu {
  color: blue;
  font-family: Impact;
  font-style: italic;
}

.quick-search-menu p {
  @apply text-lg;
}

.test {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
